json node red fuzifuzi
[{"id":"27213ce2.9787a4","type":"tab","label":"Projeto","disabled":false,"info":""},{"id":"69f8981e.96cd98","type":"ui_tab","name":"FUZUDO","icon":"dashboard","disabled":false,"hidden":false},{"id":"3c068517.37a32a","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e8945f60.606f2","type":"ui_group","name":"Leitura Atual","tab":"69f8981e.96cd98","order":1,"disp":true,"width":"6","collapse":false},{"id":"b968fd4a.ebb5b","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a3723a08.ec0668","type":"MySQLdatabase","name":"","host":"localhost","port":"3306","db":"sensor","tz":"BR","charset":"UTF8"},{"id":"af51aa1e.4a4478","type":"ui_group","name":"Database","tab":"69f8981e.96cd98","order":2,"disp":true,"width":"9","collapse":false},{"id":"a629227c.7dc0d","type":"ui_group","name":"Acionamento","tab":"69f8981e.96cd98","order":3,"disp":true,"width":"6","collapse":false},{"id":"4c2661d3.0b11a","type":"mqtt in","z":"27213ce2.9787a4","name":"","topic":"#","qos":"2","datatype":"auto","broker":"b968fd4a.ebb5b","nl":false,"rap":true,"rh":0,"x":130,"y":280,"wires":[["cf1472b3.eec1d"]]},{"id":"cf1472b3.eec1d","type":"join","z":"27213ce2.9787a4","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":270,"y":280,"wires":[["ecc8e571.e7e5d8"]]},{"id":"5ec1311d.88da","type":"ui_chart","z":"27213ce2.9787a4","name":"","group":"e8945f60.606f2","order":0,"width":"6","height":"5","label":"DHT11","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#f00505","#2e07ed","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":370,"y":200,"wires":[[]]},{"id":"4de411cd.91c43","type":"mqtt in","z":"27213ce2.9787a4","name":"","topic":"temperature","qos":"2","datatype":"auto","broker":"b968fd4a.ebb5b","nl":false,"rap":true,"rh":0,"x":150,"y":200,"wires":[["5ec1311d.88da"]]},{"id":"a9438992.dc0e78","type":"mysql","z":"27213ce2.9787a4","mydb":"a3723a08.ec0668","name":"","x":730,"y":200,"wires":[[]]},{"id":"ecc8e571.e7e5d8","type":"function","z":"27213ce2.9787a4","name":"INSERT","func":"var temperature = msg.payload.temperature\nvar humidity = msg.payload.humidity\nmsg.topic = \"INSERT INTO tempLog(`temperature`,`humidity`) VALUES ('\"+temperature+\"', '\"+humidity+\"')\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":280,"wires":[["486f34f2.f9465c"]]},{"id":"486f34f2.f9465c","type":"delay","z":"27213ce2.9787a4","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":600,"y":280,"wires":[["a9438992.dc0e78"]]},{"id":"373bb715.57ee58","type":"mqtt in","z":"27213ce2.9787a4","name":"","topic":"humidity","qos":"2","datatype":"auto","broker":"b968fd4a.ebb5b","nl":false,"rap":true,"rh":0,"x":140,"y":140,"wires":[["5ec1311d.88da"]]},{"id":"44a5c788.7a6478","type":"inject","z":"27213ce2.9787a4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":130,"y":360,"wires":[["23b7d674.1ed8ba"]]},{"id":"23b7d674.1ed8ba","type":"function","z":"27213ce2.9787a4","name":"SELECT","func":"msg.topic = \"SELECT * FROM tempLog order by timeStamp DESC limit 10;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":360,"wires":[["ad71da1e.5cf908"]]},{"id":"ad71da1e.5cf908","type":"mysql","z":"27213ce2.9787a4","mydb":"a3723a08.ec0668","name":"","x":450,"y":360,"wires":[["5b423e32.2f224"]]},{"id":"5b423e32.2f224","type":"ui_template","z":"27213ce2.9787a4","group":"af51aa1e.4a4478","name":"","order":2,"width":"9","height":"5","format":"<div layout=\"row\" layout-align=\"start center\">\n  <span flex>Hora</span>\n  <span flex>Temperatura</span>\n  <span flex>Umidade</span>\n</div>\n<div layout=\"row\" layout-align=\"start center\" ng-repeat=\"row in msg.payload\">\n  <span flex style=\"color: green\">{{row.timeStamp}}</span>\n  <span flex style=\"color: red\">{{row.temperature}} °C</span>\n  <span flex style=\"color: blue\">{{row.humidity}}%</span>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":600,"y":360,"wires":[[]]},{"id":"3db53e05.3f83e2","type":"aedes broker","z":"27213ce2.9787a4","name":"","mqtt_port":"1883","mqtt_ws_bind":"port","mqtt_ws_port":"","mqtt_ws_path":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":170,"y":60,"wires":[[]]},{"id":"f43869b1.1f1d68","type":"ui_switch","z":"27213ce2.9787a4","name":"","label":"GPIO2","tooltip":"","group":"a629227c.7dc0d","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":410,"y":80,"wires":[["d879c905.a65868"]]},{"id":"d879c905.a65868","type":"mqtt out","z":"27213ce2.9787a4","name":"","topic":"output","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b968fd4a.ebb5b","x":580,"y":80,"wires":[]},{"id":"8047c670.9b4b98","type":"inject","z":"27213ce2.9787a4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":130,"y":420,"wires":[["59d8de77.464dd"]]},{"id":"59d8de77.464dd","type":"function","z":"27213ce2.9787a4","name":"SELECT","func":"msg.topic = \"SELECT * FROM tempLog where timeStamp >= now() - 84600;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":420,"wires":[["5a900598.96927c"]]},{"id":"5a900598.96927c","type":"mysql","z":"27213ce2.9787a4","mydb":"a3723a08.ec0668","name":"","x":450,"y":420,"wires":[["f9d28ef0.35f9a"]]},{"id":"f9d28ef0.35f9a","type":"change","z":"27213ce2.9787a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"(   $series := [     { \"label\": \"temperatura (°C)\" , \"field\": \"temperature\"  },     {  \"label\": \"umidade (%)\", \"field\": \"humidity\" }    ];   $xaxis := \"timeStamp\";   [     {       \"series\": $series.label,       \"data\": $series.[         (           $yaxis := $.field;           $$.payload.{             \"x\": $lookup($, $xaxis),             \"y\": $lookup($, $yaxis)           }         )       ]     }   ] )","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":420,"wires":[["591b35a.b4345cc"]]},{"id":"591b35a.b4345cc","type":"ui_chart","z":"27213ce2.9787a4","name":"","group":"af51aa1e.4a4478","order":1,"width":0,"height":0,"label":"24H","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ec0909","#006af5","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":690,"y":480,"wires":[[]]}]
